body {
  position: relative;
}

#root {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.chat {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  color: black;
  background-color: floralwhite;

  .messagelist-wrapper {
    overflow-y: scroll;
  }
}
