#root {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: floralwhite;
  padding: 5px;
  width: 500px;
  height: 600px;
  z-index: 999999;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  color: black;

  .messagelist-wrapper {
    overflow-y: scroll;
  }
}

.rce-mbox-text {
  white-space: pre;
}
